.note-card {
  width: 80vw;
  text-align: left;
  background-color: white;
  margin: 0.5rem auto;
  padding: 0 0.5rem;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0 , .3)
}

.note-form {
  padding: 1.25rem;
}

.note-form input, .note-form textarea {
  margin: 0.75rem auto;
}